#The name of the network device
dev="eth0"
#If an VLAN is needed
#vlan="10"

#The hostname of the system
hostname="mysystem"

#The port to use to listen for incoming ssh conections
ssh_port=1022

#Use static network setup
#nettype="static"
##The IP addresses (when using static addressing)
#ip="128.66.0.2/24 2001:0DB8:1234::1/64"
#gateway="128.66.0.1 2001:0DB8:1234:c1ff:ff:ff:ff:ff"
##Extra static unicast routes
#sroute="128.66.0.1 2001:0DB8:1234:c1ff:ff:ff:ff:ff"
#DNS servers
#dns="128.66.0.10 128.66.0.11"

#Use dhcp network setup
#nettype="dhcp"

#Set to yes to use TPM2 to do autounlock
#usetpm="yes"

#Set to yes to allow local unlocking
#localunlock="yes"

#Devices to be unlocked
cryptounlock="sda2 sda3 sdb2 sdb3 sdc2 sdc3"
#The path to the devices containing the rootfs
rootpath="sda2 sdb2 sdc2"
roottype="btrfs"
#Root mount options
#The Comma is needed as we add ro first
#rootopts=",relatime,discard,fatal_errors=panic,nossd"
